* {
    margin: 0;
    padding: 0;
    color: inherit;
    list-style: none;
    box-sizing: border-box;
}

h1{
    width: 440px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 48px;
}


.box{
    margin-left: 150px;
}

body{
    /* background-color: cornflowerblue; */
    background-color: aliceblue;
}

.hcj {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100vh;
    height: 70vh;
    text-align: justify;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.html{
    background-color: rgba(245, 191, 191, 0.89);
    background-image: url(./images/html.png);
    background-size: cover;
    height: 205px;
    width: 200px;
    border-radius: 40px;
    z-index: 1;
    transition: 1s;
    /* box-shadow: 2px 3px 1px 2px; */
} 

.html:hover {
    transform: rotateY(180deg);
    opacity: 1;
}

.html:hover p{
    opacity: 1;
}

.html p {
    transform: rotateY(180deg);
    transition: 1s;
    color: black;
    display: block;
    z-index: -1;
    height: 205px;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    opacity: 0;
    background-color: rgb(233, 180, 180);
}

                                /* CSS */

.css{
    background-color: rgb(196, 215, 250);
    background-image: url(./images/CSS.png);
    background-size: 190px;
    background-position: 7px;
    background-repeat: no-repeat;
    position: relative;
    height: 205px;
    width: 200px;
    border-radius: 40px;
    z-index: 1;
    transition: 1.5s;
}

.css:hover {
    transform: scale(1.4);
    opacity: 1;
}

.css p:hover{
    opacity: 1;
}

.css p {
    transform: rotateY(360deg);
    color: black;
    display: block;
    z-index: -1;
    height: 205px;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    transition: 1s;
    opacity: 0;
    background-color: rgb(164, 191, 243);
}
                            /*js*/

.js img {
    margin-left: 30px;
    width: 155px;
    height: 200px;
}

.js{
    background-color: rgb(228, 223, 157);
    background-image: url(./images/js.png);
    background-size: 135px;
    background-repeat: no-repeat;
    background-position: 32.5px;
    position: relative;
    height: 205px;
    width: 200px;
    border-radius: 40px;
    z-index: 1;
    transition: 1s;
}

.js:hover {
    transform: rotate(720deg);
}

.js p:hover{
    opacity: 1;
}

.js p {
    transform: rotateY(360deg);
    color: black;
    display: block;
    z-index: -1;
    height: 205px;
    border-radius: 40px;
    padding: 15px;
    text-align: center;
    background-color: rgb(247, 235, 131);
    opacity: 0;
    transition: 1s;
}

