* {
    font-size: 30px;
}

header{
    background-color: bisque;
    border-radius: 5px;
    width: 100%;
    height: 90px;
}
nav{
    width: 21%;
    height: 730px;
    background-color: rgb(216, 199, 248);
    border-radius: 10px;
}
article{
    width: 57%;
    height: 730px;
    background-color: lightgreen;
    border-radius: 10px;
}
aside{
    width: 21%;
    height: 730px;
    border-radius: 10px;
    background-color: rgb(216, 199, 248);
}
div{
    display: flex;
    justify-content: space-between;
    margin-top: .4%;
    margin-bottom: .4%;
}
footer{
    background-color: bisque;
    width: 100%;
    height: 90px;
    border-radius: 5px;
}
@media screen and (max-width: 600px){
    div {
        flex-direction: column;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    } 
    nav{
        margin-top: 1.5%;
        width: 100%;
        height: 90px;
    }
    aside{
        margin-top: 1.5%;
        width: 100%;
        height: 90px;
    }
    article{
        width: 100%;
        height: 600px;
        order: -1;
    }
}