.tab > div{
    font-size: 5rem;
    text-align: center;
    line-height: 245px;
}


label {
    margin-right: 10px;
}

.co1 {
    display: none;
    background-color: red;
    width: 850px;
    height: 230px;
}

.co2 {
    display: none;
    background-color: blue;
    width: 850px;
    height: 230px;
}

.co3 {
    display: none;
    background-color: green;
    width: 850px;
    height: 230px;
}

.co4 {
    display: none;
    background-color: yellow;
    width: 850px;
    height: 230px;
}

#tab1:checked ~ .co1 {
    display: block;
}

#tab2:checked ~ .co2 {
    display: block;
}

#tab3:checked ~ .co3 {
    display: block;
}

#tab4:checked  .co4 {
    display: block;
}