.box1 {
    perspective: 500px;
}

.box2 {
    width: 150px;
    height: 150px;
    margin: 20% auto;
    background-color: red;
    animation-name: cksgur;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
}


@keyframes cksgur {
    0%{transform: rotateZ(180deg); background-color: green;}
    50% {transform: rotateY(180deg); background-color: blue;}
    100%{ background-color: red;}
}
